

.jumbotron {
    padding-top: 6rem ;
    background-image: url(bg.jpg);
}
.gallery img {
    background-color: #273036;
    padding: 15px;
    width: 300px;
    height: 200px;
}

#footer {
    background-color: blueviolet
}

section {
    padding-top: 6rem
}